@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

canvas {
  display: flex;
  justify-content: center;
  align-items: center;

  /* example padding, font-size, background, etc */

  background-color: lightskyblue;
}
img {
  display: none;
}

#timer {
  padding-top: 15px;
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  color: #ffffff;
  background-color: #3c585f;
  border: 2px solid #ffffff;
  padding: 10px;
  height: 55px;
  text-align: center;
  width: 180px;
  line-height: 50px;  
}

.button {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: #ffffff;
  background-color: #3c585f;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #5ca5b8;
}

#items-game-container{
  display: flex;
  justify-content: center;  
  width: 50em;
}

#rewards-counter {
  font-family: 'VT323', monospace;
  font-size: 30px;
  color: #ffffff;
  background-color: #ffc900;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  animation: pulse 1s infinite;
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}