
canvas {
    display: flex;
    justify-content: center;
    align-items: center;

    /* example padding, font-size, background, etc */
  
    background-color: lightskyblue;
  }
  img{
    display: none;
  }